<%- include('includes/head') %>

    <section class="box container section column is-one-third is-small">
        <h1 class="title">
            <%= products.name %>
        </h1>
        <h3 class="title is-4">Would you like to remove <%=products.name%> from the database? </h3>

        <footer class="card-footer columns">
            <div class="column is-2">
                <form class="field" method=" post" action="/products/<%= products._id %>/delete/?_method=DELETE">
                    <button class="button  is-danger card-footer-item">Yes</button>
                </form>
            </div>
            <div class="column  is-2">
                <form class="field" action="/products/<%=products._id %>">
                    <button class="button  is-success card-footer-item">No</button>
                </form>
            </div>
            <div class="column  is-2">
                <a class="button is-light space" href="/products">All Products</a>
        </footer>
    </section>
    <%- include('includes/footer') %>