
<%- include('includes/head') %>

    <section class="container section box column is-one-third">
        <h1 class="title">
            <%= products.name %>
        </h1>
        <ul class="card-content title is-4">
            <li>$<%= products.price %>
            </li>
            <li>
                <%= products.category %>
            </li>
            <div class="container column">

            </div>


        </ul>

        <div class="card">
            <footer class="card-footer">
                <a class="card-footer-item" href=" /products/<%=products._id %>/edit/">Edit</a>
                <a class="card-footer-item" href="/products/<%= products._id %>/delete/">Delete</a>
                <a class="card-footer-item" href="/products">All Products</a>
            </footer>
        </div>
        <%- include('includes/footer') %>

    </section>